body {
    font-family: Helvetica, sans-serif;
    background-color: honeydew;
    margin: 0;
}

nav {
    background-color: #2F4F4F;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 100px 100px 130px 130px 100px 50px;
}

nav a {
    text-decoration: none;
    color: white;
}

nav h1 {
    margin: 0;
    font-size: 35px;
    padding: 15px 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 130px;
  overflow: scroll;
  background-color: #F5F5F5;
  padding: 5px 20px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content h3 {
  color: black;
  text-align: left;
}

h3 {
  text-align: center;
  font-size: 20px;
  color: white;
}

h3:hover, .active {
  text-decoration: underline;
  text-underline-offset: 10px;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 1em;
}

#p1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

#p2 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

#p3 {
    grid-column: 2 / 3;
    grid-row: 1 / span 2;
}

footer {
    background-color: #2F4F4F;
    color: white;
    margin-top: 50px;
    margin-bottom: 0;
    padding: 5px 20px;
    display: grid;
    grid-template-columns: 2fr 175px 100px;
    align-items: center;
}
  
footer a {
    color: white;
    display: block;
}
  
footer div {
    line-height: 1.5em;
}