<!-- https://flask.palletsprojects.com/en/2.0.x/tutorial/templates/ -->
<!doctype html>
<main class="content">
  <header>
    <title>{% block title %}{% endblock %} - Test</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  <nav>
    <p><a href="{{ url_for('index') }}" >Homepage</a></p>
    <p><a href="{{ url_for('inputpage') }}" >Input page</a></p>
  </nav>
  <body>
    <h1>Carbometer</h1>
    {% block content %}{% endblock %}
  </body>
</main>