<!-- https://flask.palletsprojects.com/en/2.0.x/tutorial/templates/ -->
<!doctype html>
<main class="content">
  <header>
    <title>{% block title %}{% endblock %} - Test</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
  </header>
  {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
  {% endfor %}
  <nav>
    <ul>
      <li><a href="{{ url_for('index') }}">Homepage</a></li>
      <li><a href="{{ url_for('foodquestionnaire') }}">Food</a></li>
      <li><a href="{{ url_for('clothingquestionnaire') }}">Clothing</a></li>
      <li><a href="{{ url_for('utilitiesquestionnaire') }}">Utilities</a></li>
    </ul>
  </nav>
  {% block header %}{% endblock %}

  <body>
    <h1>Carbometer</h1>
    {% block content %}{% endblock %}
  </body>
</main>