{% extends 'base.html' %}
{% set active_page = 'clothing' %}

{% block title %}CLOTHING{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='pages.css') }}">
{% endblock %}

{% block main %}
<section>
  <div id="p1">
    <img src="{{ url_for('static', filename='clothing-image.png') }}">
  </div>
  <div id="p2">
    Huge amounts of water are needed to grow cotton for a piece of clothing, but most of our clothes are made from the
    polymer, polyester, for which 70 million barrels of oil are used annually to make. On top of making the materials
    for our clothes, sewing and transporting our clothes also produce greenhouse gases. The emissions from all of these
    actions combined make it so that the fashion industry to accounts for 10% of global carbon emissions, not to mention
    20% of the waste water.
    <br><br>

  </div>
  <div id="p3">
    {% if request.method=='POST' %}
    <p>Your projected annual CO2 emissions from clothing (lbs): {{ clothingco2 }} </p>
    {% else %}
    <form method="post">
      <label for="clothing_often">How often do you buy clothes in a year?</label><!-- more clarity -->
      <input name="clothing_often" id="clothing_often" type="number" min="0" step="1"
        oninput="validity.valid||(value='');" required><br>
      <label for="clothing_pieces">On average, about how many pieces of each do you buy each time you shop?</label>
      <ol name="clothing_pieces">
        <ul>
          <label for="clothing_top">Top</label><br>
          <input name="clothing_top" id="clothing_top" type="number" min="0" step="1"
            oninput="validity.valid||(value='');" required>
        </ul>
        <ul>
          <label for="clothing_bottom">Bottom</label><br>
          <input name="clothing_bottom" id="clothing_bottom" type="number" min="0" step="1"
            oninput="validity.valid||(value='');" required>
        </ul>
        <ul>
          <label for="clothing_shoes">Shoes</label><br>
          <input name="clothing_shoes" id="clothing_shoes" type="number" min="0" step="1"
            oninput="validity.valid||(value='');" required>
        </ul>
        <ul>
          <label for="clothing_outerwear">Outerwear</label><br>
          <input name="clothing_outerwear" id="clothing_outerwear" type="number" min="0" step="1"
            oninput="validity.valid||(value='');" required>
        </ul>
      </ol>
      <label for="">What are your laundry habits?</label>
      <!--
            idk how to turn this into numbers for the calculator, any suggestions?
            <input name="" id="" type="number" required>
        -->

      <input type="submit" value="Submit">
    </form>
    {% endif %}
    <br><br>
    <b>Steps to improve your carbon footprint: </b><br>
    <p>
      Buy second hand items. Thrifting clothes is not only a good way to find hidden fashionable-gems, but also a great
      way to reduce your individual carbon footprint from clothing manufacturing.
    </p>
    <p>
      Buy from sustainable brands, such as Patagonia, Allbirds, Everlane, Girlfriend Collective, and many more. The few
      minutes of research to find sustainable clothing companies will help reduce your carbon footprint. Not to mention,
      you will feel better knowing that you are wearing a stylish and sustainable outfit.
    </p>
    <p>
      Do laundry at lower temperatures, air dry, and go to the dry cleaners less. All three of these actions reduce the
      amount of heating and electricity needed to clean one load of laundry, which helps to decrease your carbon
      footprint.
    </p>
    <p>
      Purchase classic pieces as opposed to trendy items. Over half of fast fashion items end up in landfills, and this
      means that more carbon is produced due to the increased manufacturing need to keep supply of items up with the
      fast fashion’s turnaround times.
    </p>
  </div>
</section>
{% endblock %}