{% extends 'base.html' %}
{% set active_page = 'food' %}

{% block title %}FOOD{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='pages.css') }}">
{% endblock %}

{% block main %}
<section>
    <div id="p1">
        <img src="{{ url_for('static', filename='food-image.png') }}">
    </div>
    <div id="p2">
        
    </div>
    <div id="p3">
        {% if request.method=='POST' %}
        <p>Your projected annual CO2 emissions from food (lbs): {{ foodco2 }} </p>
        {% else %}
        The growing, processing, storing, transporting and disposing of foods all produce some amount of greenhouse gas.
        Food typically produces about 20% of a household’s total greenhouse gas emissions.
        Different types of food produce differing amounts of greenhouse gases per serving. In this calculator, we have
        chosen some of the most commonly eaten foods to give you an estimate of your food-related carbon footprint.
        <br>
        
        <form method="post">
            <label for="beef">How many times a week do you have a serving of beef?</label><br>
            <input name="beef" id="beef" type="number" min="0" step="1" oninput="validity.valid||(value='');"
                required><br>
            <label for="pork">How many times a week do you have a serving of pork?</label><br>
            <input name="pork" id="pork" type="number" min="0" step="1" oninput="validity.valid||(value='');"
                required><br>
            <label for="poultry">How many times a week do you have a serving of poultry?</label><br>
            <input name="poultry" id="poultry" type="number" min="0" step="1" oninput="validity.valid||(value='');"
                required><br>
            <label for="cheese">How many times a week do you have a serving of cheese?</label><br>
            <input name="cheese" id="cheese" type="number" min="0" step="1" oninput="validity.valid||(value='');"
                required><br>
            <label for="eggs">How many times a week do you have a serving of eggs?</label><br>
            <input name="eggs" id="eggs" type="number" min="0" step="1" oninput="validity.valid||(value='');"
                required><br>
            <label for="rice">How many times a week do you have a serving of rice?</label><br>
            <input name="rice" id="rice" type="number" min="0" step="1" oninput="validity.valid||(value='');"
                required><br>
            <label for="legumes">How many times a week do you have a serving of legumes?</label><br>
            <input name="legumes" id="legumes" type="number" min="0" step="1" oninput="validity.valid||(value='');"
                required><br>
            <label for="carrots">How many times a week do you have a serving of carrots?</label><br>
            <input name="carrots" id="carrots" type="number" min="0" step="1" oninput="validity.valid||(value='');"
                required><br>
            <label for="potatoes">How many times a week do you have a serving of potatoes?</label><br>
            <input name="potatoes" id="potatoes" type="number" min="0" step="1" oninput="validity.valid||(value='');"
                required><br><br>
            <input type="submit" value="Submit">
        </form>
        {% endif %}
        <br><br>
        <b>Steps to improve your carbon footprint: </b><br>
        <p>
            Eat less meat! A UN report states that livestock farming alone produces 18% of the worldwide greenhouse gas
            emissions. You can also substitute beef and pork, two of the largest CO2 emitting meats, with legumes and
            other plant based proteins. By reducing your meat intake, you are effectively decreasing your contribution
            towards one of the largest greenhouse gas emitting markets.
        </p>
        <p>
            Eat locally grown items. Trucks, ships, and planes transporting the food you eat also emit greenhouse gases.
            Although transporting the food is unavoidable, you can still reduce your emissions by buying locally
            grown items, which would travel fewer miles and have fewer emissions as a result.
        </p>
    </div>
</section>
{% endblock %}
