{% extends 'base.html' %}
{% set active_page = 'food' %}

{% block title %}FOOD{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='pages.css') }}">
{% endblock %}

{% block main %}
<section>
    <div id="p1">
        <!--pic/doodle-->
    </div>
    <div id="p2">
        The growing, processing, storing, transporting and disposing of foods all produce some amount of greenhouse gas.
        Food typically produces about 20% of a household’s total greenhouse gas emissions.
        Different types of food produce differing amounts of greenhouse gases per serving. In this calculator, we have
        chosen some of the most commonly eaten foods to give you an estimate of your food-related carbon footprint.
    </div>
    <div id="p3">
        {% if request.method=='POST' %}
        <p>Your projected annual CO2 emissions from food (lbs): {{ foodco2 }} </p>
        {% else %}
        <form method="post">
            <label for="beef">How many times a week do you have a serving of beef?</label>
            <input name="beef" id="beef" type="number" required><br>
            <label for="pork">How many times a week do you have a serving of pork?</label>
            <input name="pork" id="pork" type="number" required><br>
            <label for="poultry">How many times a week do you have a serving of poultry?</label>
            <input name="poultry" id="poultry" type="number" required><br>
            <label for="cheese">How many times a week do you have a serving of cheese?</label>
            <input name="cheese" id="cheese" type="number" required><br>
            <label for="eggs">How many times a week do you have a serving of eggs?</label>
            <input name="eggs" id="eggs" type="number" required><br>
            <label for="rice">How many times a week do you have a serving of rice?</label>
            <input name="rice" id="rice" type="number" required><br>
            <label for="legumes">How many times a week do you have a serving of legumes?</label>
            <input name="legumes" id="legumes" type="number" required><br>
            <label for="carrots">How many times a week do you have a serving of carrots?</label>
            <input name="carrots" id="carrots" type="number" required><br>
            <label for="potatoes">How many times a week do you have a serving of potatoes?</label>
            <input name="potatoes" id="potatoes" type="number" required><br>
            <input type="submit" value="Submit">
        </form>
        {% endif %}
    </div>
</section>
{% endblock %}