{% extends 'base.html' %}
{% set active_page = 'index' %}

{% block title %}CARBOMETER{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
{% endblock %}

{% block main %}
<img src="{{ url_for('static', filename='front-banner.png') }}" alt="cost of carbon, New Zealanders protesting">
<h6>New Zealand Parliament Climate Strike Protest by Nevada Halbert CC BY 2.0</h6>

<h2>FACTS</h2>
<hr>
<div id="facts">
  Climate change is the change in temperature and weather of a place. In recent times, the Earth’s temperature has gone
  up, and these changes in temperature can have huge long-term effects. For example, the warming of earth’s climate
  causes ice to melt, leading to rising sea levels. The weather also changes, causing hotter summers, colder winters,
  droughts, stronger hurricanes, etc.
  <br><br>
  People can contribute to climate change. Driving cars, using heaters and AC units, manufacturing goods, and raising
  livestock are all activities that use up energy, and burning fossil fuels, such as coal and oil, is one way we get
  this energy. Burning fossil fuels emit greenhouse gases, like CO2, into the air, and these gases cause the air to heat
  up leading to climate change as they accumulate in the atmosphere.
</div>

<h2>EXPLORE</h2>
<hr>
{% if totalco2 != None %}
<h2>
  Total CO2 produced: {{ totalco2 }}
</h2>
{% else %}
<p class="caption">
  Calculate your carbon footprint.
</p>
{% endif %}
<div class="calculator-bar">
  <div>
    <h2>FOOD</h2>
    {% if foodco2 != None %}
    <p>Your Score: {{ foodco2 }}</p>
    {% else %}
    <br>
    {% endif %}
    <br>
    <a href="{{ url_for('food') }}"><button>CALCULATE</button></a>
  </div>
  <div>
    <h2>CLOTHING</h2>
    {% if clothingco2 != None %}
    <p>Your Score: {{ clothingco2 }}</p>
    {% else %}
    <br>
    {% endif %}
    <br>
    <a href="{{ url_for('clothing') }}"><button>CALCULATE</button></a>
  </div>
  <div>
    <h2>UTILITIES</h2>
    {% if utilitiesco2 %}
    <p>Your Score: {{ utilitiesco2 }}</p>
    {% else %}
    <br>
    {% endif %}
    <br>
    <a href="{{ url_for('utilities') }}"><button>CALCULATE</button></a>
  </div>
</div>
{% endblock %}
