{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Input something!{% endblock %}</h1>
{% endblock %}

{% block content %}
    <h1>This is just a test!</h1>
    
    <form method="post">
        <label for="inputfield">Input Something!</label>
        <input name="inputfield" id="inputfield" type="number" required>
        <input type="submit" value="Submit">
    </form>
    <iframe frameborder='0' width='255' height='405' src='//www.fueleconomy.gov/feg/widgets/find-a-car/facwidget.html'></iframe>
    <iframe frameborder='0' width='265' height='375' src='//www.fueleconomy.gov/feg/widgets/gas-tips/tipwidget.html' ></iframe>
{% endblock %}