{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Utilities Questionnaire{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    <h3>Electricity</h3>
    <label for="kwh_pm">How many kWh do you use every month?</label>
    <input name="kwh_pm" id="kwh_pm" type="number" required>

    <h3>Transportation</h3>
    <label for="weeklydrive">On average, how many miles do you drive in a week?</label>
    <input name="weeklydrive" id="weeklydrive" type="number" required>
    <label for="carpoolers">How many people do you usually carpool with when driving? (put 0 if you don't drive)</label>
    <input name="carpoolers" id="carpoolers" type="number" required>
    <label for="weeklybus">On average, how many miles do you take the bus/train in a week?</label>
    <input name="weeklybus" id="weeklybus" type="number" required>

    <!-- heavy/light rail or bus selectors
    conditionally render or conditionally consider input?
    -->
    <p>Do you take the bus, light rail, or heavy rail?</p>
    <input name="busmode" id="bus" type="radio" value="bus" required>
    <label for="bus">Bus</label>
    <input name="busmode" id="light" type="radio" value="light" required>
    <label for="light">Light rail</label>
    <input name="busmode" id="heavy" type="radio" value="heavy" required>
    <label for="heavy">Heavy rail</label>

    <input type="submit" value="Submit">
</form>
{% endblock %}