{% extends 'base.html' %}
{% set active_page = 'utilities' %}

{% block title %}UTILITIES{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='pages.css') }}">
<script src="{{ url_for('static', filename='form.js') }}"></script>
{% endblock %}

{% block main %}
<section>
    <div id="p1">
        <img src="{{ url_for('static', filename='utilities-image.png') }}">
    </div>
    <div id="p2">
        {% if request.method=='POST' %}
        <p>Your projected annual CO2 emissions from utilities (lbs): {{ utilitiesco2 }} </p>
        {% else %}
        Transportation is an essential part of our lifestyle, but most vehicles use gasoline or diesel, both of which
        release carbon dioxide into the atmosphere. Globally transportation accounts for 15-20% of emissions annually.
        <br><br>
        Emissions from electricity use can vary by the type of fuel source used and by the type of power plant. For
        instance, coal will release more CO2 than petroleum and natural gas, but nuclear, solar, wind, and hydroelectric
        don’t release any CO2. The time of day can effect the source of the electricity supplied to the power grid,
        which means that the carbon footprint of a person also depends on the time of day. In this calculator, we’re
        using an estimated, average value for the amount of CO2 released by a power plant.<br>
        <form method="post">
            <h2>Electricity</h2>
            <label for="kwh_pm">How many kWh does your household use every month?</label><br>
            <input name="kwh_pm" id="kwh_pm" type="number" min="0" step="1" oninput="validity.valid||(value='');"
                required><br>
            <label for="household">How many people live in your household?</label><br>
            <input name="household" id="household" type="number" min="0" step="1" oninput="validity.valid||(value='');"
                required>
            <h2>Transportation</h2>
            <label for="weeklydrive">On average, how many miles do you drive in a week?</label><br>
            <input name="weeklydrive" id="weeklydrive" type="number" min="0" step="1"
                oninput="validity.valid||(value='');" required><br>
            <label for="carpoolers">How many people do you usually carpool with when driving? (put 0 if you don't
                drive)</label><br>
            <input name="carpoolers" id="carpoolers" type="number" min="0" step="1"
                oninput="validity.valid||(value='');" required><br>
            <label for="weeklybus">On average, how many miles do you take the bus/train in a week?</label><br>
            <input name="weeklybus" id="weeklybus" type="number" min="0" step="1" oninput="validity.valid||(value='');"
                required>

            <!-- heavy/light rail or bus selectors
            conditionally render or conditionally consider input?
            -->
            <div id="busmodeform">
                <p>Do you typically take the bus, light rail, or heavy rail?</p>
                <input name="busmode" id="bus" type="radio" value="bus">
                <label for="bus">Bus</label><br>
                <input name="busmode" id="light" type="radio" value="light">
                <label for="light">Light rail</label><br>
                <input name="busmode" id="heavy" type="radio" value="heavy">
                <label for="heavy">Heavy rail</label><br>
            </div>
            <input type="submit" value="Submit">
        </form>
        {% endif %}
        <br><br>
        <b>Steps to improve your carbon footprint: </b><br>
        <p>
            Carpooling, biking, walking, or using public transportation are all actions that can decrease your carbon
            emissions because the more people travelling in one vehicle, the smaller the carbon footprint per person. If
            you have to drive, switching to electric cars or cars that use low carbon fuels would be better.
        </p>
        <p>
            Decreasing your heating and air conditioning use, turning off lights and electrical appliances when they’re
            not in use, and using more energy-efficient lights, such as LEDs, are all steps you can take to reduce your
            carbon footprint and electricity bill.
        </p>
    </div>
</section>
{% endblock %}