{% extends 'base.html' %}

{% block title %}ACTION{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='pages.css') }}">
{% endblock %}

{% block main %}
<p class="source">
    Below are resources to help you better understand <b>climate change</b> and how to reduce your <b>carbon
        footprint</b>:
</p>

<div class="action">
    <div class="action-item">
        <a href="http://flood.firetree.net/?ll=43.3251,-101.6015&z=13&m=7" target="_blank"><img class="action-button"
                src="{{ url_for('static', filename='action_floodmaps.png') }}" alt="Floodmaps Button">
        </a>
        <a href="http://flood.firetree.net/?ll=43.3251,-101.6015&z=13&m=7" target="_blank" class="action-label">
            <p>FLOOD MAPS</p>
        </a>
    </div>
    <div class="action-item">
        <a href="https://www.nasa.gov/audience/forstudents/k-4/stories/nasa-knows/what-is-climate-change-k4.html"
            target="_blank"><img class="action-button" src="{{ url_for('static', filename='action_nasa.png') }}"
                alt="NASA Button">
        </a>
        <a href="https://www.nasa.gov/audience/forstudents/k-4/stories/nasa-knows/what-is-climate-change-k4.html"
            target="_blank" class="action-label" class="action-label">
            <p>NASA</p>
        </a>
    </div>
    <div class="action-item">
        <a href="https://www.nytimes.com/guides/year-of-living-better/how-to-reduce-your-carbon-footprint"
            target="_blank" class="action-label"><img class="action-button"
                src="{{ url_for('static', filename='action_nytimes.png') }}" alt="New York Times Button">
        </a>
        <a href="https://www.nytimes.com/guides/year-of-living-better/how-to-reduce-your-carbon-footprint"
            target="_blank" class="action-label">
            <p>NY TIMES</p>
        </a>
    </div>
    <div class="action-item">
        <a href="https://www.un.org/en/climatechange/what-is-climate-change" target="_blank"><img class="action-button"
                src="{{ url_for('static', filename='action_un.png') }}" alt="United Nations Button">
        </a>
        <a href="https://www.un.org/en/climatechange/what-is-climate-change" target="_blank" class="action-label">
            <p>UN</p>
        </a>
    </div>
    <div class="action-item">
        <a href="https://www.un.org/en/actnow" target="_blank"><img class="action-button"
                src="{{ url_for('static', filename='action_actnow.png') }}" alt="UN Act Now Button"></a>
        <a href="https://www.un.org/en/actnow" target="_blank" class="action-label">
            <p>UN ACT NOW</p>
        </a>
    </div>
    <div class="action-item">
        <a href="https://www.sciencelearn.org.nz/topics/climate-change" target="_blank"><img class="action-button"
                src="{{ url_for('static', filename='action_sciencelearninghub.png') }}"
                alt="Science Learning Hub Button"></a>
        <a href="https://www.sciencelearn.org.nz/topics/climate-change" target="_blank" class="action-label">
            <p>SCIENCE LEARNING HUB</p>
        </a>
    </div>
    <div class="action-item">
        <a href="https://www.rainforest-alliance.org/everyday-actions/5-ways-to-build-collective-climate-impact-through-individual-actions/"
            target="_blank"><img class="action-button"
                src="{{ url_for('static', filename='action_rainforestalliance.png') }}"
                alt="Rainforest Alliance Button"></a>
        <a href="https://www.rainforest-alliance.org/everyday-actions/5-ways-to-build-collective-climate-impact-through-individual-actions/"
            target="_blank" class="action-label">
            <p>RAINFOREST ALLIANCE</p>
        </a>
    </div>
    <div class="action-item">
        <a href="https://www.co2nsensus.com/blog/reducing-carbon-footprint-in-schools" target="_blank"><img
                class="action-button" src="{{ url_for('static', filename='action_co2sensus.png') }}"
                alt="CO2sensus Button"></a>
        <a href="https://www.co2nsensus.com/blog/reducing-carbon-footprint-in-schools" target="_blank"
            class="action-label">
            <p>CO2NSENSUS</p>
        </a>
    </div>
    <div class="action-item">
        <a href="https://climatekids.nasa.gov/climate-change-meaning/" target="_blank"><img class="action-button"
                src="{{ url_for('static', filename='action_climatekids.png') }}" alt="Climate Kids Button"></a>
        <a href="https://climatekids.nasa.gov/climate-change-meaning/" target="_blank" class="action-label">
            <p>CLIMATE KIDS</p>
        </a>
    </div>
    <div class="action-item">
        <a href="https://www.futurelearn.com/info/blog/how-to-reduce-your-carbon-footprint-tips" target="_blank"><img
                class="action-button" src="{{ url_for('static', filename='action_futurelearn.png') }}"
                alt="Future Learn Button"></a>
        <a href="https://www.futurelearn.com/info/blog/how-to-reduce-your-carbon-footprint-tips" target="_blank"
            class="action-label">
            <p>FUTURE LEARN</p>
        </a>
    </div>
    <div class="action-item">
        <a href="https://www.bbc.com/news/science-environment-24021772" target="_blank"><img class="action-button"
                src="{{ url_for('static', filename='action_bbc.png') }}" alt="BBC Button"></a>
        <a href="https://www.bbc.com/news/science-environment-24021772" target="_blank" class="action-label">
            <p>BBC</p>
        </a>
    </div>
    <div class="action-item">
        <a href="https://climate.nasa.gov/climate_resource_center/interactives" target="_blank"><img
                class="action-button" src="{{ url_for('static', filename='action_nasainteractives.png') }}"
                alt="NASA Interactives Button"></a>
        <a href="https://climate.nasa.gov/climate_resource_center/interactives" target="_blank" class="action-label">
            <p>NASA INTERACTIVES</p>
        </a>
    </div>
</div>
{% endblock %}